# Ignore environment file (VERY IMPORTANT)
.env

# Ignore virtual environment
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE files
.vscode/
.idea/

# Logs
*.log